[Unit]
Description=Sing-box Service
Documentation=https://sing-box.sagernet.org
After=network.target network-online.target nss-lookup.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{ node_singbox_bin_path }} run -c /etc/sing-box/config.json
Restart=on-failure
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
