[DEFAULT]
bantime = {{ core_fail2ban_bantime }}
findtime = {{ core_fail2ban_findtime }}
maxretry = {{ core_fail2ban_maxretry }}
ignoreip = {{ core_fail2ban_ignoreip | join(' ') }}

[sshd]
enabled = true
port = {{ core_ssh_port }}
maxretry = {{ core_fail2ban_ssh_maxretry }}
